{% load custom_tags %}

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="{% if small %}14{% else %}110{% endif %}" height="14" style="vertical-align: middle;">
    <param name="movie" value="{% static 'clippy.swf' %}"/>
    <param name="allowScriptAccess" value="always" />
    <param name="quality" value="high" />
    <param name="scale" value="noscale" />
    <param NAME="FlashVars" value="text={{text|urlencode}}">
    <param name="bgcolor" value="{{ bgcolor|default:'#FFFFFF' }}">
    <embed src="{% static 'clippy.swf' %}"
           width="{% if small %}14{% else %}110{% endif %}"
           height="14"
           name="clippy"
           quality="high"
           allowScriptAccess="always"
           type="application/x-shockwave-flash"
           pluginspage="http://www.macromedia.com/go/getflashplayer"
           FlashVars="text={{text|urlencode}}"
           bgcolor="{{ bgcolor|default:'#FFFFFF' }}"
           scale="noscale"
    />
</object>
