{% load custom_tags %}

<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

<link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}"/> 


<style type="text/css" media="screen">
@import url("{% static 'common/css/reset.css' %}");
@import url("{% static 'common/css/layout.css' %}");
@import url("{% static 'common/css/av-hack.css' %}");
@import url("{% static 'common/css/jquery-ui.css' %}");
{% if request.user.is_authenticated %}
  .logged_out{display:none;}
{% else %}
  .logged_in{display:none;}
{% endif %}
</style>
<!--[if IE]><link rel="stylesheet" type="text/css" href="{% static 'common/css/ie.css' %}"><![endif]-->
{% if provisioner == 'heroku' %}
  <link href='http://nav.heroku.com/header.css' media='all' rel='stylesheet' type='text/css' />
{% endif %}

<script type="text/javascript" src="{% static 'common/js/jquery-1.6.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'common/js/jquery-ui-1.8.11.min.js' %}"></script>
<script type="text/javascript" src="{% static 'common/js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="https://sitesearch.cloudfoundry.com/ping.js"></script>
<script class="indextank">
/*  {
    "name": "div.head h2",
    "text" : "body"
  } */
</script>
<script class="indextank categories">
/* { "type": "c:site" } */
</script>
<script type="text/javascript">
Cufon.replace(['.blue_box_main h3', '.table_content li'], {fontFamily: 'Whitney', hover: true});
Cufon.replace('div.head h2', {fontFamily: 'Whitney', hover: true, textShadow: '1px 1px 0px #e6e6e6'}); 
Cufon.replace('div.head h2 strong', {fontFamily: 'WhitneyLight', hover: true, textShadow: '1px 1px 0px #e6e6e6'});
Cufon.replace('div#menu ul li a', {fontFamily: 'Whitney K Semibold', textShadow: '1px 1px 0px #ffffff', hover: true}); 
Cufon.replace('.blue_box_main h2', {fontFamily: 'Whitney', hover: true, textShadow: '1px 1px 0px #797979'}); 

</script>
<script type="text/javascript" src="{% static 'common/js/function.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.indextank.basic.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.indextank.ize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.indextank.autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.indextank.ajaxsearch.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.indextank.instantlinks.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.indextank.instantsearch.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.indextank.dashboardrenderer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.indextank.renderer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.indextank.statsrenderer.js' %}"></script>

<script type="text/javascript">{% include "includes/empty-inputs.js" %}</script>
<script type='text/javascript'>
    $(window).ready(function(){
        $("#search-form").indextank_Ize("https://6kds.api.indextank.com", "sitesearch");
        $("#query").indextank_InstantLinks();
    });
</script>


        <!-- instant links styling -->
        <style> 
            .ui-menu {
                padding: 0em;
            } 
 
            .ui-menu-item {
                border-bottom: 1px solid #eee;
                padding: 2px;
            }
 
            .result span {
                font-size: 14px;
                vertical-align: top;
                padding-left: 5px;
            }
            
            .result span.highlighted {
                font-weight: bolder;
                padding-left: 0px;
            }
            
            .result span.regular {
                padding-left: 0px;
            }
            
            .result span.description:before {
                content: "--";
                vertical-align: top;
                padding: 5px;
            }
            .result span.description {
                font-size: 10px;
                padding-left: 0px;
            }
 
        </style> 
