<div id="heroku-header">
  <h5 id="heroku-logo"><a href="http://heroku.com">Heroku</a></h5>
  <ul id="heroku-account-nav"> 
    <div id="heroku-account-nav-logged_in">
      <li><a href="http://api.heroku.com/myapps" id="heroku-header-link-myapps">My Apps</a></li>
      <li><a href="http://api.heroku.com/account" id="heroku-header-link-account">My Account</a></li>

      <li><a href="{% url logout %}">Logout</a></li>
    </div>
  </ul>
  <ul id='heroku-section-nav'>
    <li><a href="http://heroku.com/how" id="heroku-header-link-how">How it Works</a></li>
    <li><a href="http://heroku.com/pricing" id="heroku-header-link-pricing">Pricing</a></li>

    <li><a href="http://addons.heroku.com/" id="heroku-header-link-addons">Add-ons</a></li>
    <li><a href="http://docs.heroku.com/" id="heroku-header-link-docs">Docs</a></li>
    <li><a href="http://support.heroku.com/"  id="heroku-header-link-support">Support</a></li>
  </ul>
</div>
