<ul>
    {#<li class="first"><a href="{% url home %}"{% if navigation_pos == 'home' %} class="active"{% endif %}>Home</a></li>#}
    <li class="first"><a href="{% url why %}"{% if navigation_pos == 'why_us' %} class="active"{% endif %}>Why Us</a></li>
    <li><a href="{% url pricing %}"{% if navigation_pos == 'pricing' %} class="active"{% endif %}>Pricing</a></li>
    {#<li><a href="{% url get_started %}"{% if navigation_pos == 'get_started' %} class="active"{% endif %}>Get Started</a></li>#}
    <li><a href="http://apps.indextank.com">App Gallery</a></li>
    <li><a href="{% url documentation %}"{% if navigation_pos == 'documentation' %} class="active"{% endif %}>Docs &amp; Support</a></li>
    <li><a href="http://blog.indextank.com">Blog</a></li>
</ul>
