<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

{% load custom_tags %}
{% load humanize %}


<html>
  <head>
    <script type="text/javascript" src="{% static 'js/jquery-1.4.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.8.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.async.js' %}"></script>
    
    <style>{% include "operations/styles.css" %}</style>
    <script>
      {% include "operations/utils.js" %}
      {% include "operations/db.js" %}
      {% include "operations/templating.js" %}
      {% include "operations/listings.js" %}
      {% include "operations/renderers.js" %}
      
      Deploy = {
        objects: DB('Deploy', ['index','worker','parent']),
        link: dep_listing,
        long_link: wdep_listing,
        render: render_deploy,
        changed: function(id, a, b, action) {
          action = action || 'changed';
          
          var idx = Index.objects.get(a.index);
          var acc = Account.objects.get(idx.account);
          var header = { index: idx.name, account: acc.email };
          var olddata = {};
          var newdata = {}; 
          var extra = null;
          if (b) {
            if (a['base_port'] != b['base_port']) {
              newdata['base_port'] = b['base_port'];
            }
            if (a['status'] != b['status']) {
              olddata['status'] = a['status'];
              newdata['status'] = b['status'];
              extra = function(node) {
                node.filter('.listing .status').removeClass(a['status']).addClass(b['status']);
              }
            }
          }
          change_data('Deploy', id, action, header, olddata, newdata, extra)
        },
        created: function(id, a) { 
          this.changed(id, a, null, 'created');
          created_data(dep_listing(a).appendTo($('#Index_' + a.index + ' .rels')));
        }, 
        deleted: function(id, a) { this.changed(id, a, null, 'deleted'); } ,
        activate: function() {},
        deactivate: function() {},
      }
      Index = {
        objects: DB('Index', ['account','configuration']),
        link: idx_listing,
        render: render_index,
        refreshing: {},
        refresh: function(pk) {
          $.ajax({
            url: 'operations?level=index&id='+pk,
            success: function (d) {
              var from = {}; from[pk] = Index.objects.get(pk);
              var to = {}; to[pk] = d['Index'];
              Index.objects.update(from, to)
              var tonew = {};
              $.each(d['Deploy'], function(i,dep) {
                tonew[dep.id] = dep;
              });
              Deploy.objects.update(Deploy.objects.for_index(pk).all, tonew);
              var reload = $('#Index_' + pk + ' .reload');
              var bg = reload.css('backgroundColor');
              reload.css('backgroundColor', '#FFF');
              reload.animate({ backgroundColor: bg }, 400, function() { reload.removeAttr('style'); });
              activity('Refreshed Index ' + pk);
            },
            error: function(x,y,z) {
              activity('Failed refreshing Index ' + pk + ' : ' + z);
            },
            complete: function() {
              if (Index.refreshing[pk]) {
                setTimeout(function() { Index.refresh(pk); }, 500);
              } else {
                delete Index.refreshing[pk];
                activity('Deactivated Index ' + pk);
              }
            },
            dataType: 'json'
          });
        },
        activate: function(pk) {
          if (!(pk in Index.refreshing)) {
            Index.refresh(pk);
            activity('Activated Index ' + pk);
          Index.refreshing[pk] = true;
          }
        },
        deactivate: function(pk) {
          if (pk in Index.refreshing) {
            Index.refreshing[pk] = false;
          }
        },
        changed: function(id, a, b, action) {
          action = action || 'changed';
          var acc = Account.objects.get(a.account);
          var pkg = Package.objects.get(acc.package);
          var header = { name: a.name, email: acc.email, plan: pkg.name };
          var olddata = {};
          var newdata = {}; 
          var extra = null;
          if (b) {
            if (a['configuration'] != b['configuration']) {
              var ac = Config.objects.get(a.configuration);
              var bc = Config.objects.get(b.configuration);
              olddata['config_desc'] = ac.description;
              newdata['config_desc'] = bc.description;
              var nodea = $('#Index_' + id + ' .config');
              var nodeb = Config.link(bc);
              nodea.before(nodeb);
              deleted_data(nodea);
              created_data(nodeb);
            }
            if (a['docs'] != b['docs']) {
              olddata['documents'] = a['docs'];
              newdata['documents'] = b['docs'];
            }
          }
          change_data('Index', id, action, header, olddata, newdata, extra)
        },
        created: function(id, a) { 
          this.changed(id, a, null, 'created');
          created_data(Index.link(a).appendTo($('#Account_' + a.account + ' .rels')));
        }, 
        deleted: function(id, a) { this.changed(id, a, null, 'deleted'); } ,
      }
      Account = {
        objects: DB('Account', ['package','configuration']),
        link: acc_listing,
        render: render_account,
        changed: function(id, a, b, action) {
          action = action || 'changed';
          var header = { email: a.email };
          var olddata = {};
          var newdata = {}; 
          var extra = null;
          if (b) {
            if (a['package'] != b['package']) {
              var ap = Package.objects.get(a['package']);
              var bp = Package.objects.get(b['package']);
              olddata['plan'] = ap.name;
              newdata['plan'] = bp.name;
              var nodea = $('#Account_' + id + ' .package');
              var nodeb = Package.link(bp);
              nodea.before(nodeb);
              deleted_data(nodea);
              created_data(nodeb);
            }
            if (a['configuration'] != b['configuration']) {
              var ac = Config.objects.get(a.configuration);
              var bc = Config.objects.get(b.configuration);
              olddata['config_desc'] = ac.description;
              newdata['config_desc'] = bc.description;
              var nodea = $('#Account_' + id + ' .config');
              var nodeb = Config.link(bc);
              nodea.before(nodeb);
              deleted_data(nodea);
              created_data(nodeb);
            }
          }
          change_data('Account', id, action, header, olddata, newdata, extra)
        },
        created: function(id, a) { 
          this.changed(id, a, null, 'created');
        }, 
        deleted: function(id, a) { this.changed(id, a, null, 'deleted'); } ,
        activate: function() {},
        deactivate: function() {},
      }
      Package = {
        objects: DB('Package', ['configuration']),
        link: pkg_listing,
        render: render_package,
        changed: function() {},
        created: function() {},
        deleted: function() {},
        activate: function() {},
        deactivate: function() {},
      }
      Config = {
        objects: DB('Config'),
        link: cfg_listing,
        render: render_config,
        changed: function() {},
        created: function() {},
        deleted: function() {},
        activate: function() {},
        deactivate: function() {},
      }
      Worker = {
        objects: DB('Worker'),
        link: wkr_listing,
        render: render_worker,
        changed: function(id, a, b, action) {
          action = action || 'changed';
          
          var header = { name: a.name };
          var olddata = {};
          var newdata = {}; 
          var extra = null;
          if (b) {
            if (a['status'] != b['status']) {
              olddata['status'] = a['status'];
              newdata['status'] = b['status'];
            }
          }
          change_data('Worker', id, action, header, olddata, newdata, extra)
        },
        created: function(id, a) { 
          this.changed(id, a, null, 'created');
        }, 
        deleted: function(id, a) { this.changed(id, a, null, 'deleted'); } ,
        activate: function() {},
        deactivate: function() {},
      }
      DeployStats = {
        render: render_deploy_stats,
        activate: function() {},
        deactivate: function() {},
      }
      DeployLog = {
        render: render_deploy_log,
        activate: function() {},
        deactivate: function() {},
      }
      DeployGCLog = {
        render: render_deploy_gclog,
        activate: function() {},
        deactivate: function() {},
      }
      DeployConfigFile = {
        render: render_deploy_config,
        activate: function() {},
        deactivate: function() {},
      }
      
      function changed(db, id, a, b) {
        var cl = eval(db.name);
        if (a) {
          if (b) {
            if ('changed' in cl) {
              cl.changed(id,a,b);
            } else {
              var info = $('<div>' + db.name + '[' + id + '] has changed</div>');
              for (x in a) {
                if (!equals(a[x],b[x])) {
                  $('<div>+ ' + x + '</div>').appendTo(info);
                  $('<div>\_ from ' + a[x] + '</div>').appendTo(info);
                  $('<div>\_ to ' + b[x] + '</div>').appendTo(info);
                }
              }
              cl.link(b).prepend(info);
            }
          } else {
            if ('deleted' in cl) {
              cl.deleted(id, a);
            } else {              
              change(cl.link(a).prepend('<div>' + db.name + '[' + id + '] was deleted</div>'));
            }
          }
        } else {
          if ('created' in cl) {
            cl.created(id, b);
          } else {              
            change(cl.link(b).prepend('<b>' + db.name + '[' + id + '] was created</b>'));
          }
        }
      }
      
      var _dep = Deploy.objects;
      var _ind = Index.objects;
      var _acc = Account.objects;
      var _pkg = Package.objects;
      var _cfg = Config.objects;
      var _wkr = Worker.objects;
      
      function icount(a) { return _ind.for_account(a.id).count; }
      function dcount(a) {
        var sum = 0;
        $.each(_ind.for_account(a.id).all, function(k, v) {
          sum += v.docs;
        });
        return sum;
      }
      function refresh() {
        activity('Refreshing DB');
        $.ajax({
          url: 'operations?level=refresh',
          success: function (d) {
            $.each(d, function(k,v) {
              eval(k).objects.load(v); 
            });
            refreshed(); 
            activity('Refreshed DB');
            //setTimeout(function() { refresh(); }, 30000);
          },
          dataType: 'json'
        });
      }
      function human(n) { 
        var K = 1000, M = K * K, G = M * K; 
        if (n >= G) return parseInt(n/G) + 'g'; 
        if (n >= M) return parseInt(n/M) + 'm'; 
        if (n >= K) return parseInt(n/K) + 'k';
        return n 
      }
      var loaded = false;
      function refreshed() {
        if (!loaded) {
          $('.initializing').hide();
          $('.all').show();
        }
        loaded = true;
      }
      function activity(m) {
        $('.activity').prepend('<div>' + m + '</div>');
      }
      function change(m) {
        slideDown($("<div></div>").append(m).prependTo($('.changes')));
      }
      
      $(window).ready(function() {
        refresh();
        $('.item .close').live('click', function() { 
          var item = $(this).parents('.item'); 
          var type = $(this).parents('.item').attr('type');
          var pk = $(this).parents('.item').attr('pk');
          eval(type).deactivate(pk);
          item.find('.close, .reload, .header').hide();
          item.slideUp(400, function() { item.remove(); }); 
        });
        $('#refresh').click(function() { refresh(); });
        $('#tab_accounts').click(function() { load_accounts($('.sidebarcontents')); });
        $('#tab_indexes').click(function() { load_indexes($('.sidebarcontents')); });
        $('#tab_workers').click(function() { load_workers($('.sidebarcontents')); });
        $('#tab_packages').click(function() { load_packages($('.sidebarcontents')); });
        $('#tab_configs').click(function() { load_configs($('.sidebarcontents')); });
        $('#tab_deploys').click(function() { load_deploys($('.sidebarcontents')); });
        $('.tab').click(function() { $('.tab.active').removeClass('active'); $(this).addClass('active'); });
        
        $('.account').live('click', function() { push(Account.render($(this).attr('pk'))); });
        $('.index').live('click', function() { push(Index.render($(this).attr('pk'))); });
        $('.deploy, .wdeploy').live('click', function() { push(Deploy.render($(this).attr('pk'))); });
        $('.worker').live('click', function() { push(Worker.render($(this).attr('pk'))); });
        $('.config').live('click', function() { push(Config.render($(this).attr('pk'))); });
        $('.package').live('click', function() { push(Package.render($(this).attr('pk'))); });
        $('.deploy_det .showstats').live('click', function() { push(DeployStats.render($(this).parents('.item').attr('pk'))); });
        $('.deploy_det .showlog').live('click', function() { push(DeployLog.render($(this).parents('.item').attr('pk'))); });
        $('.deploy_det .showgclog').live('click', function() { push(DeployGCLog.render($(this).parents('.item').attr('pk'))); });
        $('.deploy_det .showcfg').live('click', function() { push(DeployConfigFile.render($(this).parents('.item').attr('pk'))); });
        
        $('.reload').live('click', function() {
          var type = $(this).parents('.item').attr('type');
          var pk = $(this).parents('.item').attr('pk');
          $(this).toggleClass('active');
          if ($(this).hasClass('active')) {
            eval(type).activate(pk);
          } else {
            eval(type).deactivate(pk);
          }
        });

        $('.change').live('click', function() {
          push(eval($(this).attr('type')).render($(this).attr('pk')));  
        });       

        $('.index_det .redeploy').live('click', function() {
          var pk = $(this).parents('.item').attr('pk');
          var idx = Index.objects.get(pk);
          var acc = Account.objects.get(idx.account);
          if (confirm('Do you really want to redeploy index ' + idx.name + ' for account ' + acc.email)) {
            activity('Requesting move for index ' + pk);
            $.ajax({
              url: 'operations?level=redeploy&id=' + pk,
              success: function () {
                activity('Move requested for deploy ' + pk);
              },
            });
          }
        });
        
        $('.worker_det .decommission').live('click', function() {
          var pk = $(this).parents('.item').attr('pk');
          if (confirm('Do you really want to decommission worker ' + pk)) {
            activity('Requesting decommission for worker ' + pk);
            $.ajax({
              url: 'operations?level=decommission&id=' + pk,
              success: function (d) {
                var from = {}; to = {};
                from[pk] = Worker.objects.get(pk);
                to[pk] = d;
                Worker.objects.update(from, to);
                activity('Decommissioned worker ' + pk);
              },
              error: function(http) {
                activity('Failed to decommission worker ' + pk);
                alert('Failed to decommission worker ' + pk + '\n' + http.responseText);
              },
              dataType: 'json'
            });
          }
        });
        $('.worker_det .delete').live('click', function() {
          var pk = $(this).parents('.item').attr('pk');
          if (confirm('Do you really want to delete worker ' + pk)) {
            activity('Requesting delete for worker ' + pk);
            $.ajax({
              url: 'operations?level=delete_worker&id=' + pk,
              success: function () {
                var from = {}; to = {};
                from[pk] = Worker.objects.get(pk);
                Worker.objects.update(from, {});
                activity('Deleted worker ' + pk);
              },
              error: function(http) {
                activity('Failed to delete worker ' + pk);
                alert('Failed to delete worker ' + pk + '\n' + http.responseText);
              }
            });
          }
        });
        $('.account_det .delete').live('click', function() {
          var pk = $(this).parents('.item').attr('pk');
          var acc = Account.objects.get(pk);
          if (confirm('Do you really want to delete account ' + acc.email)) {
            activity('Requesting delete for account ' + acc.email);
            $.ajax({
              url: 'operations?level=delete_account&id=' + pk,
              success: function () {
                var from = {}; to = {};
                from[pk] = Account.objects.get(pk);
                Account.objects.update(from, {});
                activity('Deleted account ' + acc.email);
              },
              error: function(http) {
                activity('Failed to delete account ' + pk);
                alert('Failed to delete account ' + pk + '\n' + http.responseText);
              }
            });
          }
        });
        $('.account_det .set_pkg').live('click', function() {
          var pk = $(this).parents('.item').attr('pk');
          var acc = Account.objects.get(pk);
          var pid = $('.stack .package').attr('pk');
          if (pid) {
            var pkg = Package.objects.get(pid);
            if (confirm('Do you really want to set package ' + pkg.name + ' for account ' + acc.email)) {
              activity('Setting package for account ' + acc.email);
              $.ajax({
                url: 'operations?level=account_set_pkg&id=' + pk + '&pkg=' + pid,
                success: function (d) {
                  var from = {}; to = {};
                  from[pk] = Account.objects.get(pk);
                  to[pk] = d;
                  Account.objects.update(from, to);
                  activity('Updated package for account ' + acc.email);
                },
                error: function(http) {
                  activity('Failed to update package for account ' + acc.email);
                  alert('Failed to update package for account ' + acc.email + '\n' + http.responseText);
                },
                dataType: 'json'
              });
            }
          } else {
            alert('You need to choose a package first.')
          }
        });
        $('.account_det .set_cfg').live('click', function() {
          var pk = $(this).parents('.item').attr('pk');
          var acc = Account.objects.get(pk);
          var cid = $('.stack .config').attr('pk');
          if (cid) {
            var cfg = Config.objects.get(cid);
            if (confirm('Do you really want to set config ' + cfg.description + ' for account ' + acc.email)) {
              activity('Setting config for account ' + acc.email);
              $.ajax({
                url: 'operations?level=account_set_cfg&id=' + pk + '&cfg=' + cid,
                success: function (d) {
                  var from = {}; to = {};
                  from[pk] = Account.objects.get(pk);
                  to[pk] = d;
                  Account.objects.update(from, to);
                  activity('Updated config for account ' + acc.email);
                },
                error: function(http) {
                  activity('Failed to update config for account ' + acc.email);
                  alert('Failed to update config for account ' + acc.email + '\n' + http.responseText);
                },
                dataType: 'json'
              });
            }
          } else {
            alert('You need to choose a config first.')
          }
        });
        $('.index_det .set_cfg').live('click', function() {
          var pk = $(this).parents('.item').attr('pk');
          var idx = Index.objects.get(pk);
          var cid = $('.stack .config').attr('pk');
          if (cid) {
            var cfg = Config.objects.get(cid);
            if (confirm('Do you really want to set config ' + cfg.description + ' for index ' + idx.name)) {
              activity('Setting config for index ' + idx.name);
              $.ajax({
                url: 'operations?level=index_set_cfg&id=' + pk + '&cfg=' + cid,
                success: function (d) {
                  var from = {}; to = {};
                  from[pk] = Index.objects.get(pk);
                  to[pk] = d;
                  Index.objects.update(from, to);
                  activity('Updated config for index ' + idx.name);
                },
                error: function(http) {
                  activity('Failed to update config for index ' + idx.name);
                  alert('Failed to update config for index ' + idx.name + '\n' + http.responseText);
                },
                dataType: 'json'
              });
            }
          } else {
            alert('You need to choose a config first.')
          }
        });
        
        var searching = null;
        $('#searcher').keyup(function() {
          if (searching) clearTimeout(searching);
          $this = $(this);
          searching = setTimeout(function() {
            var q = $this.val().toLowerCase();
            var t = $('.sidebarcontents');
            t.html('');
            $('.tab.active').removeClass('active');
            if (q) {
              var ws = load_workers(t, function(v) { return v.id == q; }, true);
              var ps = load_packages(t, function(v) { return v.name.toLowerCase().indexOf(q) != -1 || v.code.toLowerCase().indexOf(q) != -1; }, true);
              var cs = load_configs(t, function(v) { return v.description.toLowerCase().indexOf(q) != -1; }, true);
              var as = load_accounts(t, function(v) { return v.email.toLowerCase().indexOf(q) != -1 || v.code.toLowerCase().indexOf(q) != -1; }, true);
              var is = load_indexes(t, function(v) { return v.name.toLowerCase().indexOf(q) != -1 || (v.code && v.code.toLowerCase().indexOf(q) != -1); }, true);
              var texts = [];
              if (ws) texts.push(ws + ' wrks');
              if (ps) texts.push(ps + ' pkgs');
              if (cs) texts.push(cs + ' cfgs');
              if (as) texts.push(as + ' accs');
              if (is) texts.push(is + ' idxs');
              if (texts) {
                texts = 'Found ' + texts.join(', ');
              } else {
                texts = 'Nothing found';
              }
              $('<div>' + texts + '</div>').prependTo($('.sidebarcontents')).css('color', '#fff').css('margin-top', '-20px').css('position', 'fixed').css('padding', '0 4px').css('font-weight', 'bold');
            }
          }, 300);
        });
        
        $('.login').live('click', function() {
          var pk = $(this).parents('.item').attr('pk');
          var acc = Account.objects.get(pk);
          var f = $('form[name="autologin"]')[0];
          f.password.value = acc.private_url;
          f.submit();
        });
        
        $('.package_det .listaccounts').live('click', function() {
          var pk = $(this).parents('.item').attr('pk');
          $('.tab.active').removeClass('active');
          load_accounts($('.sidebarcontents'), function(v) { return v.package == pk; });
        });
        $('.item[type=Config] .listaccounts').live('click', function() {
          var pk = $(this).parents('.item').attr('pk');
          $('.tab.active').removeClass('active');
          load_accounts($('.sidebarcontents'), function(v) { return v.configuration == pk; });
        });
        $('.item[type=Config] .listindexes').live('click', function() {
          var pk = $(this).parents('.item').attr('pk');
          $('.tab.active').removeClass('active');
          load_indexes($('.sidebarcontents'), function(v) { return v.configuration == pk; });
        });
        $('.item .choose').live('click', function() {
          var type = $(this).parents('.item').attr('type');
          var pk = $(this).parents('.item').attr('pk');
          $('.stack .' + type.toLowerCase()).remove();
          var cl = eval(type);
          var l = cl.link(cl.objects.get(pk));
          l.css('float', 'left').appendTo($('.stack')).hide().fadeIn();
        });
      });
    </script>
  </head>
  <body>
    <form name="autologin" target="_blank" method="post" action="https://indextank.com/login" style="display:none;">
      <input type="hidden" name="email" value="apiurl@indextank.com"></input>
      <input type="hidden" name="password"></input>
    </form>

    <div class="all fit" style="display: none;">
      <div style="width: 260px; height: 45px; background: #888; margin: 5px; padding: 5px; position:absolute">
          <div class="tab" id="tab_workers">wrk</div>
          <div class="tab" id="tab_accounts">acc</div>
          <div class="tab" id="tab_indexes">idx</div>
          <div class="tab" id="tab_packages">pkg</div>
          <div class="tab" id="tab_configs">cfg</div>
          <div class="tab" id="tab_deploys">dep</div>
          <div class="tbtn" id="refresh" style="float:right">R</div>
          <div>
            <input id="searcher" style="width:240px; margin-top: 5px;">
          </div>
      </div>
      <div class="fitleft" style="margin: 65px 5px 5px; width: 260px; background: #888; padding: 5px 5px 5px;"></div>
      <div class="sidebarcontents fitleft" style="margin: 90px 5px 5px; width: 260px; overflow-y: auto; padding: 5px 5px 5px;"></div>
      
      <div class="stack nosb fit" style="margin: 5px 280px 5px 280px; background: #888; overflow: hidden; padding: 5px; height: 16px"></div>
      <div class="maincontent nosb fit" style="margin: 36px 280px 5px 280px; background: #888; overflow-y: auto; padding: 10px;"></div>
    </div>
    <div class="activity fitright" style="margin: 5px; width: 260px; overflow-y: auto; padding: 5px; background: #888; bottom: 0; top: initial; height: 130px;"></div>
    <div class="changes fitright" style="margin: 5px; width: 260px; overflow-y: auto; padding: 5px; background: #888; margin-bottom: 150px;"></div>
    <div class="initializing fit" style="margin-right: 280px; background:white;">
      <div style="text-align:center; padding: 150px 0;">
        <img src="{% static 'images/loading.gif' %}"></img>
      </div>
    </div>
    <div id="templates">
      {% include "operations/templates.html" %}
    </div>
  </body>
</html>
