{% extends "base2.html" %}
{% load custom_tags %}

{% block wrapper_class %}nosidebar{% endblock %}

{% block content %}
<div class="post">
  <div class="entry">

   <div class="superbox" style="margin: 0px auto; width: 700px; letter-spacing: 1px; font-size: 120%;">
     <h1>Oops!</h1>
       <div style="margin-left: 10px; padding-top: 5px;">
       There is nothing here. If you reached this page by clicking on a link somewhere, please let us know.
       </div>        
       <div style="clear:both"></div>
   </div>
</div>
</div>
{% endblock %}