{% extends "base.html" %}
{% load custom_tags %}
{% load humanize %}


{% block extramenu %}
    <li>|</li> <li><a href="{% url manage_worker worker_id=worker.id %}">Back to Worker '{{ worker.instance_name }}'</a></li>
{% endblock %}

{% block content %}

<html>
  <head>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawMemChart);
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawDiskChart);

      function drawMemChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Used Memory');
        data.addRows([
            
          {% for info in index_infos %}
              [new Date({{ info.timestamp|date:'Y'}},{{ info.timestamp|date:'n'}} - 1,{{ info.timestamp|date:'j, H, i'}}), {{ info.used_mem|a1000times }}],
          {% endfor %}
        ]);

        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('mem_chart_div'));
        chart.draw(data, {displayAnnotations: true, dateFormat: 'MMMM dd, yyyy - HH:mm'});
      }

      function drawDiskChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Used Disk');
        data.addRows([
            
          {% for info in index_infos %}
              [new Date({{ info.timestamp|date:'Y'}},{{ info.timestamp|date:'n'}} - 1,{{ info.timestamp|date:'j, H, i'}}), {{ info.used_disk|a1000times }}],
          {% endfor %}
        ]);

        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('disk_chart_div'));
        chart.draw(data, {displayAnnotations: true, dateFormat: 'MMMM dd, yyyy - HH:mm'});
      }
    </script>
  </head>

  <body>
  <div class="module">
  </div>
    <div class="main" style="width: 900px">
	    <div class="module x">
		    <h3>Index {{ index.code }} stats</h3>
		    <p>
		        Check the memory and disk usage history of the Index.<br>
		    </p>
		    <div style="text-align: center;">
		    </div>
		</div>
	</div>
	<div style="clear:both">
	</div>

    <div class="roundbox" style="padding: 0px; background-color: #ebebeb">
        <table width="100%" border="0" cellpadding="10" cellspacing="10" class="indextable noborder">
            <tbody>
                <tr class="round_b clear" style="background-color: transparent;">
                    <td class="first" align="left">
                        Memory Usage
                    </td>
                    <td align="center" class="last" width="150"  style="background: url({% static 'images/tableheader.png' %}) no-repeat 30px">
                        &nbsp;
                    </td>
                    
                </tr>
                <tr style="background-color: {% cycle 'white' '#ebebeb' %}">
                    <td align="center" style="border-right: none; padding: 10px 10px;" colspan="2">
                        <div id='mem_chart_div' style='width: 900px; height: 240px;'></div>
                    </td>
                </tr>
                <tr class="round_g" style="background-color: transparent;">
                    <td class="first" align="right">
                        &nbsp;
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>


    <div class="roundbox" style="padding: 0px; background-color: #ebebeb">
        <table width="100%" border="0" cellpadding="10" cellspacing="10" class="indextable noborder">
            <tbody>
                <tr class="round_b clear" style="background-color: transparent;">
                    <td class="first" align="left">
                        Disk Usage
                    </td>
                    <td align="center" class="last" width="150"  style="background: url({% static 'images/tableheader.png' %}) no-repeat 30px">
                        &nbsp;
                    </td>
                    
                </tr>
                <tr style="background-color: {% cycle 'white' '#ebebeb' %}">
                    <td align="center" style="border-right: none; padding: 10px 10px;" colspan="2">
                        <div id='disk_chart_div' style='width: 900px; height: 240px;'></div>
                    </td>
                </tr>
                <tr class="round_g" style="background-color: transparent;">
                    <td class="first" align="right">
                        &nbsp;
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    
    
  </body>
</html>

{% endblock %}